/*
 * Credentials.h
 *
 *  Created on: 14.10.2021
 *      Author: steffen
 */

#ifndef CREDENTIALS_H_
#define CREDENTIALS_H_

#include <string>

struct WifiCredentials {

	const char *ssid = "ssid_name";
	const char *password = "wifi_password";
};



#endif /* CREDENTIALS_H_ */

